@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

:root{
    --main-color: rgba(0, 0, 0, 0.7);
}

body{
    
    margin: 0;
    background-color: #E6E1DF;
    background-image: url(/images/curly-line.svg);
    //background-size: 963px;
    background-size: 100vh;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'Poppins';
    color: var(--main-color)
}

section{
    padding: 5em 2em 2em 5em;
}

.presentation-section{
    .container{
        text-align: center;
        font-size: 0.9rem;
        font-weight: 200;
        h1{
            font-weight: 500;
        }      

        hr{
            width: 2rem;
        }

        h2{
            font-weight: 200;
            font-size: 1em;
            text-transform: uppercase;
        }

        .portrait{
            img{
                width: 20em;
                border-radius: 25%;
            }    
        }
    }
}

.technology-section{
    ul{
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(19rem, 1fr));

        li{
            width: 40em;
        }
    }
}

.testimonial-section {
    background-color: #aa7e6c3f;
    text-align: center;
    ul{
        margin: 0;
        padding: 0;
        display: inline-flex;

        li{
            list-style-type: none;
            text-align: center;
            width: 30em;
            margin: 2em 1em 3em auto;
            background-color: #be8b776e;
            border-radius: 1em;

            img{
                width: 64px;
                height: 64px;
                border-radius: 50%;
                border: 5px solid;
                border-color: #b37b66;
                margin-top: -2.3em;
            }

            blockquote{
                font-style: italic;
            }

            cite{
                font-weight: bold;
                font-style: normal;
            }
        }
    }
}

.socialnetwork-section {
    background-color: var(--main-color);
    text-align: center;
    padding: 2em;
    vertical-align: middle;

    ul{
        margin: 0;
        padding: 0;
        display: inline-flex;
        li{
            list-style-type: none;
            margin: 0 1em;

            i{
                color:#E6E1DF;
                font-size: 48px;
            }

        }
    }
}

