body{
    word-wrap: break-word;
    font-family: 'Inter', sans-serif;
    background-color: #E6E1DF;
    background-image: url("/src/images/curly-line.svg");
    background-size: 963px;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}

b {
    font-weight: 600;
}

#main {
    flex-direction: column;
}

h2 {
    text-transform: uppercase;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.column{
    padding-left: 56px;
}

div {
    display: block;
}

#my-photo img {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
}

#summary p {
    color: rgba(0,0,0,0.49);
    font-size: 1em;
    line-height: 2;
    font-weight: 300;
    text-align: center;
    width: 30rem;
}